# ignore everything in plugin folders, but keep track of plugin submodules 
derivative
*.asv
/plugins/**
!/plugins/clean_rawdata
!/plugins/dipfit
!/plugins/firfilt
!/plugins/ICLabel
.DS_Store
external/ADAM
external/fieldtrip-20170704/.gitignore
external/fieldtrip-20170704/.travis.yml
